<div class="sidebar" data-background-color="dark">
  <div class="sidebar-logo">
    <!-- Logo Header -->
    <div class="logo-header" data-background-color="dark">
      <div class="nav-toggle">
        <button class="btn btn-toggle toggle-sidebar">
          <i class="gg-menu-right"></i>
        </button>
        <button class="btn btn-toggle sidenav-toggler">
          <i class="gg-menu-left"></i>
        </button>
      </div>
      <button class="topbar-toggler more">
        <i class="gg-more-vertical-alt"></i>
      </button>
    </div>
    <!-- End Logo Header -->
  </div>
  <div class="sidebar-wrapper scrollbar scrollbar-inner">
    <div class="sidebar-content">
      <ul class="nav nav-secondary">
        <li class="nav-item active">
          <a data-bs-toggle="collapse" href="#dashboard" class="collapsed" aria-expanded="false">
            <i class="fas fa-home"></i>
            <p>Dashboard</p>
            <span class="caret"></span>
          </a>
          <div class="collapse" id="dashboard">
            <ul class="nav nav-collapse">
              <li>
                <a href="<%= home_index_path %>">
                  <span class="sub-item">Dashboard</span>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li class="nav-section">
          <span class="sidebar-mini-icon">
            <i class="fa fa-ellipsis-h"></i>
          </span>
          <h4 class="text-section">Componentes</h4>
        </li>
        <li class="nav-item">
          <a data-bs-toggle="collapse" href="#base">
            <i class="fas fa-layer-group"></i>
            <p>Ferramentas</p>
            <span class="caret"></span>
          </a>
          <div class="collapse" id="base">
            <ul class="nav nav-collapse">
              <li>
                <a href="<%= home_avatars_path %>">
                  <span class="sub-item">Avatars</span>
                </a>
              </li>
              <li>
                <a href="<%= home_gridsystem_path %>">
                  <span class="sub-item">Grid System</span>
                </a>
              </li>
              <li>
                <a href="<%= home_paineis_path %>">
                  <span class="sub-item">Painéis</span>
                </a>
              </li>
              <li>
                <a href="<%= home_simpleicons_path %>">
                  <span class="sub-item">Icones Simples</span>
                </a>
              </li>
              <li>
                <a href="<%= home_tipografia_path %>">
                  <span class="sub-item">Tipografia</span>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li class="nav-item">
          <a data-bs-toggle="collapse" href="#forms">
            <i class="fas fa-pen-square"></i>
            <p>Forms</p>
            <span class="caret"></span>
          </a>
          <div class="collapse" id="forms">
            <ul class="nav nav-collapse">
              <li>
                <a href="<%= home_conteudo_path %>">
                  <span class="sub-item">Forms Base</span>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li class="nav-item">
          <a data-bs-toggle="collapse" href="#tables">
            <i class="fas fa-table"></i>
            <p>Tabelas</p>
            <span class="caret"></span>
          </a>
          <div class="collapse" id="tables">
            <ul class="nav nav-collapse">
              <li>
                <a href="<%= home_tabelas_path %>">
                  <span class="sub-item">Básicas Tabelas</span>
                </a>
              </li>
              <li>
                <a href="<%= home_datatables_path %>">
                  <span class="sub-item">Datatables</span>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li class="nav-item">
          <a data-bs-toggle="collapse" href="#charts">
            <i class="far fa-chart-bar"></i>
            <p>Gráficos de Dados</p>
            <span class="caret"></span>
          </a>
          <div class="collapse" id="charts">
            <ul class="nav nav-collapse">
              <li>
                <a href="<%= home_grafico_path %>">
                  <span class="sub-item">Gráficos</span>
                </a>
              </li>
              <li>
                <a href="<%= home_minigrafico_path %>">
                  <span class="sub-item">Minigráficos</span>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li class="nav-item">
          <a href="<%= home_notificacoes_path %>" class="nav-link">
            <i class="fas fa-bell"></i>
            <p>Notificações </p>
          </a>
        </li>
        <li class="nav-item">
          <a href="<%= home_fontes_path %>" class="nav-link">
            <i class="fas fa-font"></i>
            <p>Fonts</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="<%= home_buttoes_path %>" class="nav-link">
            <i class="fab fa-github-alt"></i>
            <p>Botões</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="<%= home_alertas_path %>" class="nav-link">
            <i class="fas fa-exclamation-triangle"></i>
            <p>Alertas</p>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
<!-- End Sidebar -->
