<div class="container-fluid mt-5">
  <div class="page-inner">
    <div class="page-header">
      <h3 class="fw-bold mb-3">Avatars</h3>
      <ul class="breadcrumbs mb-3">
        <li class="nav-home">
          <a href="<%= root_path %>">
            <i class="icon-home"></i>
          </a>
        </li>
        <li class="separator">
          <i class="icon-arrow-right"></i>
        </li>
        <li class="nav-item">
          <a href="#">Base</a>
        </li>
        <li class="separator">
          <i class="icon-arrow-right"></i>
        </li>
        <li class="nav-item">
          <a href="#">Avatars</a>
        </li>
      </ul>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">Sizing</h4>
          </div>
          <div class="card-body">
            <div class="avatar avatar-xxl">
              <%= image_tag("/assets/img/jm_denis.jpg", alt: "...", class: "avatar-img rounded-circle") %>
            </div>
            <div class="avatar avatar-xl">
              <%= image_tag("/assets/img/jm_denis.jpg", alt: "...", class: "avatar-img rounded-circle") %>
            </div>
            <div class="avatar avatar-lg">
              <%= image_tag("/assets/img/jm_denis.jpg", alt: "...", class: "avatar-img rounded-circle") %>
            </div>
            <div class="avatar">
              <%= image_tag("/assets/img/jm_denis.jpg", alt: "...", class: "avatar-img rounded-circle") %>
            </div>
            <div class="avatar avatar-sm">
              <%= image_tag("/assets/img/jm_denis.jpg", alt: "...", class: "avatar-img rounded-circle") %>
            </div>
            <div class="avatar avatar-xs">
              <%= image_tag("/assets/img/jm_denis.jpg", alt: "...", class: "avatar-img rounded-circle") %>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">Status Indicator</h4>
          </div>
          <div class="card-body">
            <div class="avatar avatar-online">
              <%= image_tag("/assets/img/jm_denis.jpg", alt: "...", class: "avatar-img rounded-circle") %>
            </div>
            <div class="avatar avatar-offline">
              <%= image_tag("/assets/img/jm_denis.jpg", alt: "...", class: "avatar-img rounded-circle") %>
            </div>
            <div class="avatar avatar-away">
              <%= image_tag("/assets/img/jm_denis.jpg", alt: "...", class: "avatar-img rounded-circle") %>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">Shape</h4>
          </div>
          <div class="card-body">
            <div class="avatar">
              <%= image_tag("/assets/img/jm_denis.jpg", alt: "...", class: "avatar-img rounded-circle") %>
            </div>
            <div class="avatar">
              <%= image_tag("/assets/img/jm_denis.jpg", alt: "...", class: "avatar-img rounded-circle") %>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">Group</h4>
          </div>
          <div class="card-body">
            <div class="avatar-group">
              <div class="avatar">
                <%= image_tag("/assets/img/jm_denis.jpg", alt: "...", class: "avatar-img rounded-circle border border-white") %>
              </div>
              <div class="avatar">
                <%= image_tag("/assets/img/chadengle.jpg", alt: "...", class: "avatar-img rounded-circle border border-white") %>
              </div>
              <div class="avatar">
                <%= image_tag("/assets/img/mlane.jpg", alt: "...", class: "avatar-img rounded-circle border border-white") %>
              </div>
              <div class="avatar">
                <span class="avatar-title rounded-circle border border-white">CF</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>