<!DOCTYPE html>
<html lang="pt">
  <head>
    <title>Autenticação</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <!-- Estilo específico para autenticação -->
    <%= stylesheet_link_tag "/assets/css/bootstrap.min.css",                                            "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "/assets/css/plugins.min.css",                                              "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "/assets/css/kaiadmin.min.css",                                             "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "/assets/css/demo.css",                                                     "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "authentication", media: "all", "data-turbo-track": "reload" %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
