<!DOCTYPE html>
<html lang="pt">
  <head>
    <title>Autenticação</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "/assets/css/bootstrap.min.css", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "/assets/css/auth.css", "data-turbo-track": "reload" %> <!-- Estilo específico para autenticação -->
    <%= javascript_include_tag "/assets/js/core/jquery-3.7.1.min.js", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "/assets/js/core/bootstrap.min.js", "data-turbo-track": "reload" %>
  </head>
  <body class="auth-layout">
    <div class="auth-wrapper">
      <div class="auth-card">
        <%= yield %> <!-- Conteúdo das views do Devise será renderizado aqui -->
      </div>
    </div>
  </body>
</html>
